*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: #E4EAF2;
}

/* Top Parent */

div.top-parent{
    width: 100%;
    height: 75%;
    position: relative;
  
}

/* Background Videos */

video{
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
   

}

/* Black Background */

div.black-back{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Sun Logo */

div.logo{
    position: absolute;
    background-image: url('sun.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 85px;
    height: 85px;
    left: 150px;
    
}

/* Website Name(ClimateChase) */

p.web_name{
    font-size: 25px;
    color: white;
    position: absolute;
    width: 100px;
    height: 20px;
    left: 73px;
    top: 25px;
}

/* Search Parent */

div.search-parent{
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Parent of search bar and search btn */

div.container-fla{
    position: relative;
    width: 80%;
    height: 100vh;
    margin: auto;
    display:flex;
    justify-content: center;
}

/* Search Bar */

input.search{
    position: absolute;
    width: 2%;
    height: 41px;
    border: none;
    outline: none;
    border-radius: 4px;
    padding-left: 25px;
    font-size: 17px;
    color: black;
}

/* Search Bar Placeholder */

input.search::placeholder{
    color: #B0B4B4;
    font-size: 15px;

}

/* Search Button */

input.submit{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    color: white;
    outline: none;
    transition: all 0.6s;
    background-image: linear-gradient(to left, #67EBA2,#35C77A);
}


input.submit:hover{
    border-radius: 35px;
    background-image: linear-gradient(to left, #FAAE39 ,#F56E4E);
}

/* Weather Part Start */

div.weather_main_parent{
    width: 42%;
    height: 400px;
    border-radius: 8px;
    background-color: white;
    margin: 20px auto;
    display: block;
    position: relative;
    box-shadow: 0px 0px 2px 0px gray;
    display: none;

}

/* Real Feel */


div.city,div.real_feel_shade,div.weather_text,div.humd,div.speed,div.degree,div.longitude,div.latitude,div.weather_symbol{
    text-align: left;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    position: relative;
}

div.city{
    padding: 25px 0px 0px 0px;
}


span.show_temperature,span.show_weather_text,span.humidity,span.speed,span.degree,span.city,span.longitude,span.latitude,span.weather_symbol{
    position: absolute;
    right: 0px;
}

/* Weather Text */

div.weather_text{
    padding: 0px;
}

/* Logo Of Weather */

img.symbol_weather{
    position: absolute;
}

iframe.city_information{
    display: none;
}

div.information-parent{
    display: flex;
}

iframe.city_information{
    margin: 0px 10px;
    border-radius: 12px;
    width: 50%;
    padding: 0px;
    height: 710px;

}

/* Media queries between 0 and 480px */

@media (0px <= width <=480px){

    video,div.black-back{
        height: 80%;

    }

    div.search-parent{
        height: 80%;
       
    }

    div.logo{
        left: 8%;
        width: 75px;
        height: 75px;
    }


    p.web_name{
        font-size: 21px;
        left: 87%;
        top: 21px;
    }


    input.search,input.submit{
        width: 70%;
        height: 35px;
        font-size: 16px;
        top: 40px;
    }

    input.search::placeholder{
        font-size: 14px;
    }

    input.submit{
        top: 100px;

    }

    div.container-fla{
        margin-top: 120px;
        background-color: transparent;
    }

    div.weather_main_parent{
        width: 100%;
        margin: 40px 0px;
        padding: 0px 30px;
        height: 630px;
    }

    div.humd,div.speed,div.degree{
        padding: 0px;
    }

    div.city,div.real_feel_shade,div.weather_text,div.humd,div.speed,div.degree,div.longitude,div.latitude,span.show_temperature,span.show_weather_text,span.humidity,span.speed,span.degree,span.city,span.longitude,span.latitude,div.weather_symbol,span.weather_symbol{
        font-size: 24px;
    }

    img.symbol_weather{
        width: 60px;
        height: 60px;
        left: -45px;
        bottom: -35px;
    }

    div.information-parent{
        flex-direction: column;
    }

    iframe.city_information{
        width: 95%;
        height: 600px;
        margin: 10px;
    }  

}

/* Media queries extra between 0px and 317px */

@media(0px <= width <=318px){

    span.show_temperature,span.show_weather_text,span.humidity,span.speed,span.degree,span.city,span.longitude,span.latitude,div.city,div.real_feel_shade,div.weather_text,div.humd,div.speed,div.degree,div.longitude,div.latitude,div.weather_symbol,span.weather_symbol{
        font-size: 15px;
    }

    div.logo{
        width: 55px;
        
    }

    p.web_name{
        font-size: 14px;
        left: 48px;
    }

    input.search,input.submit{
        width: 90%;
        height: 30px;
        font-size: 20px;
        top: 20px;
    }

    input.search::placeholder{
        font-size: 13px;
    }

    input.submit{
        top: 60px;

    }

    div.container-fla{
        margin-top: 100px;
    }

    video,div.black-back{
        height: 60%;

    }

    div.weather_main_parent{
        margin: -80px 0px;
        height: 480px;
        margin-bottom: 20px;
    }

    img.symbol_weather{
        width: 50px;
        height: 50px;
        
    }

}

/* Media queries extra between 0px and 255px */

@media(0px <= width <=255px){

    span.show_temperature,span.show_weather_text,span.humidity,span.speed,span.degree,span.city,span.longitude,span.latitude,div.city,div.real_feel_shade,div.weather_text,div.humd,div.speed,div.degree,div.longitude,div.latitude,div.weather_symbol,span.weather_symbol{
        font-size: 13px;
    }

    input.search,input.submit{
        font-size: 13px;
    }


    input.search::placeholder{
        font-size: 12px;
    }

    div.logo{
        width: 55px;
        
    }

    p.web_name{
        font-size: 15px;
        left: 62px;
        top: 25px;
    }

}


/* Media queries extra between 320px and 350px*/

@media(320px <= width <=350px){

    span.show_temperature,span.show_weather_text,span.humidity,span.speed,span.degree,span.city,span.longitude,span.latitude,div.city,div.real_feel_shade,div.weather_text,div.humd,div.speed,div.degree,div.longitude,div.latitude,div.weather_symbol,span.weather_symbol{
        font-size: 12px;
    }

    div.weather_main_parent{
        height: 490px;
    }

}

/* Media queries extra between 256px and 320px*/

@media(256px <= width <=320px){

    div.logo{
        width: 55px;
        
    }

    p.web_name{
        font-size: 17px;
        left: 62px;
    }

    input.search,input.submit{
        width: 90%;
        height: 30px;
        font-size: 16px;
        top: 20px;
    }

    input.submit{
        top: 60px;
    }

    input.search::placeholder{
        font-size: 14px;
    }


    div.weather_main_parent{
        height: 510px;
    }

    img.symbol_weather{
        left: -40px;
        bottom: -35px;
        
    }
}

/* Media Queries Extra Added Between 350px and 480px */

@media (350px <= width <= 480px){

    video,div.black-back{
        height: 80%;
    }


    div.search-parent{
        height: 60%;
    }

    input.search,input.submit{
        font-size: 20px;
        height: 45px;
    }

    input.search::placeholder{
        font-size: 18px;
    }

    img.symbol_weather{
        width: 70px;
        height: 70px;
        left: -60px;
        bottom: -52px;
        
    }

    div.city,div.real_feel_shade,div.weather_text,div.humd,div.speed,div.degree,div.longitude,div.latitude,span.show_temperature,span.show_weather_text,span.humidity,span.speed,span.degree,span.city,span.longitude,span.latitude,div.weather_symbol,span.weather_symbol{
        font-size: 21.7px;
    }


}


/* Media queries between 481 and 768px */

@media (481px <= width <= 768px){

    video,div.black-back{
        height: 70%;

    }

    div.search-parent{
        height: 70%;
       
    }

    div.logo{
        left: 8%;
        width: 135px;
        height: 135px;
    }


    p.web_name{
        font-size: 39px;
        left: 88%;
        top: 31px;
    }


    input.search,input.submit{
        width: 70%;
        height: 80px;
        font-size: 35px;
        top: 50px;
    }

    input.search::placeholder{
        font-size: 34px;
    }

    input.submit{
        top: 145px;

    }

    div.container-fla{
        margin-top: 125px;
        background-color: transparent;
    }

    div.weather_main_parent{
        width: 100%;
        margin: 40px 0px;
        padding: 0px 30px;
        height: 750px;
    }

    div.humd,div.speed,div.degree{
        padding: 0px;
    }

    div.city,div.real_feel_shade,div.weather_text,div.humd,div.speed,div.degree,div.longitude,div.latitude,span.show_temperature,span.show_weather_text,span.humidity,span.speed,span.degree,span.city,span.longitude,span.latitude,div.weather_symbol,span.weather_symbol{
        font-size: 33px;
    }

    img.symbol_weather{
        width: 85px;
        height: 85px;
        left: -65px;
        bottom: -55px;
        
    }

    div.information-parent{
        flex-direction: column;
    }

    iframe.city_information{
        width: 95%;
        height: 600px;
        margin: 17px;
    }

}

/* Media queries for Height b/w 400px and 500px */

@media(400px <= height <=500px){
    div.container-fla{
        margin-top: 60px;
    }
   
}

/* Media queries for Height b/w 1100px and 1500px */

@media(1100px <= height <=1500px){
    div.container-fla{
        margin-top: 250px;
    }
}

/* Media queries between 769 and 1024px */

@media (769px <= width <= 1024px){

    video,div.black-back{
        height: 70%;

    }

    div.search-parent{
        height: 70%;
       
    }

    div.logo{
        left: 8%;
        width: 185px;
        height: 185px;
    }


    p.web_name{
        font-size: 43px;
        left: 89%;
        top: 51px;
    }


    input.search,input.submit{
        width: 65%;
        height: 93px;
        font-size: 41px;
        top: 60px;
    }
    
    input.search{
        padding: 0px 0px 0px 40px;
    }

    input.search::placeholder{
        font-size: 38px;
    }

    input.submit{
        top: 175px;

    }

    input.submit:hover{
        border-radius: 80px;
    }

    div.container-fla{
        margin-top: 195px;
        background-color: transparent;
    }

    div.weather_main_parent{
        width: 100%;
        margin: 50px 0px;
        padding: 0px 50px;
        height: 990px;
    }

    div.humd,div.speed,div.degree{
        padding: 0px;
    }

    div.city,div.real_feel_shade,div.weather_text,div.humd,div.speed,div.degree,div.longitude,div.latitude,span.show_temperature,span.show_weather_text,span.humidity,span.speed,span.degree,span.city,span.longitude,span.latitude,div.weather_symbol,span.weather_symbol{
        font-size: 50px;
    }

    img.symbol_weather{
        width: 120px;
        height: 120px;
        left: -115px;
        bottom: -95px;
        
    }

    div.information-parent{
        flex-direction: column;
    }

    iframe.city_information{
        width: 95%;
        height: 800px;
        margin: 10px 20px;
    }

}


/* Media queries between 1025 and 1200px */

@media (1025px <= width <= 1200px){


    video,div.black-back{
        height: 65%;

    }

    div.search-parent{
        height: 65%;
       
    }

    div.logo{
        left: 8%;
        width: 110px;
        height: 110px;
    }


    p.web_name{
        font-size: 34px;
        left: 89%;
        font-weight: lighter;
        top: 28px;
    }


    input.search,input.submit{
        width: 75%;
        height: 133px;
        font-size: 60px;
        top: 60px;
    }
    
    input.search{
        padding: 0px 0px 0px 50px;
    }

    input.search::placeholder{
        font-size: 57px;
    }

    input.submit{
        top: 225px;
        

    }

    input.submit:hover{
        border-radius: 70px;
    }

    div.container-fla{
        margin-top: 205px;
        background-color: transparent;
    }

    div.weather_main_parent{
        width: 100%;
        margin: 60px 0px;
        padding: 0px 80px;
        height: 1200px;
    }

    div.humd,div.speed,div.degree{
        padding: 0px;
    }

    div.city,div.real_feel_shade,div.weather_text,div.humd,div.speed,div.degree,div.longitude,div.latitude,span.show_temperature,span.show_weather_text,span.humidity,span.speed,span.degree,span.city,span.longitude,span.latitude,div.weather_symbol,span.weather_symbol{
        font-size: 63px;
    }

    img.symbol_weather{
        width: 120px;
        height: 120px;
        left: -110px;
        bottom: -85px;
        
    }

    iframe.city_information{
        width: 50%;
        height: 1200px;
        margin: 10px;

    
    }

}

/* Media queries between 1201 and 1400px */

@media (1201px <= width <= 1400px){

    video,div.black-back{
        height: 110%;

    }

    div.search-parent{
        height: 110%;
        margin-bottom: 30px;
       
    }

    div.logo{
        left: 8%;
        width: 105px;
        height: 105px;
        top: -3px;
    }


    p.web_name{
        font-size: 26px;
        left: 88%;
        font-weight: lighter;
        top: 29px;
    }


    input.search,input.submit{
        width: 40%;
        height: 55px;
        font-size: 25px;
        top: 0px;
    }
    
    input.search{
        padding: 0px 0px 0px 30px;
    }

    input.search::placeholder{
        font-size: 22px;
    }

    input.submit{
        top: 70px;
        
    }

    input.submit:hover{
        border-radius: 75px;
    }

    div.container-fla{
        margin-top: 200px;
        background-color: transparent;
    }

    div.information-parent{
        display: flex;
    }

    iframe.city_information{
        margin: 0px 10px;
        border-radius: 12px;
        width: 50%;
        padding: 0px;
        height: 710px;
        
    }

    div.weather_main_parent{
        width: 50%;
        margin: 0px 10px;
        padding: 0px 40px;
        height: 710px;
    }

    div.humd,div.speed,div.degree{
        padding: 0px;
    }

    div.city,div.real_feel_shade,div.weather_text,div.humd,div.speed,div.degree,div.longitude,div.latitude,span.show_temperature,span.show_weather_text,span.humidity,span.speed,span.degree,span.city,span.longitude,span.latitude,div.weather_symbol,span.weather_symbol{
        font-size: 28px;
    }

    img.symbol_weather{
        width: 80px;
        height: 80px;
        left: -75px;
        bottom: -60px;
        
    }

}

/* Media queries between 1401 and 1800px */

@media (1401px <= width <= 1800px){

    video,div.black-back{
        height: 110%;

    }

    div.search-parent{
        height: 110%;   
        margin-bottom: 30px;

    }

    div.logo{
        left: 8%;
        width: 105px;
        height: 105px;
        top: -3px;
    }


    p.web_name{
        font-size: 32px;
        left: 88%;
        font-weight: lighter;
        top: 24px;
    }


    input.search,input.submit{
        width: 50%;
        height: 75px;
        font-size: 28px;
        top: 0px;
    }
    
    input.search{
        padding: 0px 0px 0px 30px;
    }

    input.search::placeholder{
        font-size: 27px;
    }

    input.submit{
        top: 92px;
        
    }

    input.submit:hover{
        border-radius: 75px;
    }

    div.container-fla{
        margin-top: 200px;
        background-color: transparent;
    }

    div.weather_main_parent{
        width: 40%;
        margin: 60px 20px 40px 15px;
        padding: 0px 60px;
        height: 710px;
    }

    div.humd,div.speed,div.degree{
        padding: 0px;
    }

    div.city,div.real_feel_shade,div.weather_text,div.humd,div.speed,div.degree,div.longitude,div.latitude,span.show_temperature,span.show_weather_text,span.humidity,span.speed,span.degree,span.city,span.longitude,span.latitude,div.weather_symbol,span.weather_symbol{
        font-size: 30px;
    }

    img.symbol_weather{
        width: 80px;
        height: 80px;
        left: -75px;
        bottom: -60px;    
    }

    div.information-parent{
        display: flex;
    }

    iframe.city_information{
        margin: 59px 10px;
        border-radius: 12px;
        width: 56%;
        padding: 0px;
        height: 710px;    
    }
}

